/* Общие стили для всех устройств */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2e2e2e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2%;
}

.header-info p {
  margin: 0 14px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 2%;
}

.logout-button:hover {
  background-color: #e60000;
}

@media (max-width: 644px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-right: 0;
  }

  .header-info p {
    margin: 5px 0;
    font-size: 14px;
  }

  .logout-button {
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 10px;
  }
}

@media (min-width: 645px) and (max-width: 1051px) {
  .header {
    padding: 10px 40px;
  }

  .header-content {
    flex-direction: row;
    align-items: center;
    margin-right: 4%;
  }

  .header-info p {
    margin: 0 20px;
    font-size: 16px;
  }

  .logout-button {
    padding: 8px 16px;
    font-size: 14px;
    margin-top: 0;
  }
}

@media (min-width: 1052px) {
  .header {
    padding: 15px 60px;
  }

  .header-content {
    flex-direction: row;
    align-items: center;
    margin-right: 6%;
  }

  .header-info p {
    margin: 0 25px;
    font-size: 18px;
  }

  .logout-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 0;
  }
}